@font-face {
  font-family: myFont;
  src: url('./SourceSansPro-Light.otf');
}

*{
  font-family:myFont;
  font-weight: 500;
}
.bg-aqua{
  background-color: rgb(1,180,228) !important;
}

.text-aqua{
  color: rgb(1,180,228) !important;
}

.f-width{
  max-width : 100% !important;
}

.side-menu{
  max-width: 258px !important;
  max-height: 510px !important;
  font-size: 1em;
}

.list{
  background-color: white !important;
  padding: 10px 0;
}

.list p{
  padding: 0 20px;
  margin: 0;
}

.list p:hover{
  background:#e9edf3!important ;
}

